# Training and Testing Data

In [1]:
import pandas as pd

C:\Users\mdaza\AppData\Local\Temp\ipykernel_2888\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.DataFrame({'Age' : [25,30,35,40,45] , 'Permium' : [18000,32000,40000,47000,55000]})

In [4]:
df

   Age  Permium
0   25    18000
1   30    32000
2   35    40000
3   40    47000
4   45    55000

In [5]:
x = df['Age']
y = df['Permium']

In [6]:
x

0    25
1    30
2    35
3    40
4    45
Name: Age, dtype: int64

In [7]:
y

0    18000
1    32000
2    40000
3    47000
4    55000
Name: Permium, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split   # to split

In [9]:
x_test , y_test , = train_test_split(x,y,test_size=0.2)

In [15]:


print(f'Training Data :- { x_train , y_train}')

print('#############################################')

print(f'Testing Data :- {x_test , y_test}')

Training Data :- (4    55000
3    47000
2    40000
1    32000
Name: Permium, dtype: int64, 0    18000
Name: Permium, dtype: int64)
#############################################
Testing Data :- (4    45
3    40
2    35
1    30
Name: Age, dtype: int64, 0    25
Name: Age, dtype: int64)